.hero,
.about,
.skills,
.projects
{
    width: 100%;
    height: 800px;
}
.box_hero
{
    width: 980px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}
.about,
.contacts
{
    height: 500px;
}
.projects .projects_info
{
    height: auto; 
    width: 980px;
}
.hero .hero_info,
.about .about_info,
.projects .projects_info,
.contacts .contacts_info
{
    height: 100%;
    display: flex;
    gap: 40px;
}
.hero .hero_info h1
{
    font-size: 90px; 
    text-transform: uppercase; 
    font-weight: 500;
}
.hero .hero_info h2
{
    font-size: 55px; 
    text-transform: uppercase; 
    color: var(--aqua); 
    font-weight: 400; 
    letter-spacing: 2px;
}
.hero .hero_info .btn
{
    font-size: 20px;
}
.about .about_info .info h1,
.skills .skills_info .info h1,
.skills .skills_info .info h3,
.projects .projects_info .info h1,
.contacts .contacts_info .info h1
{
    text-transform: uppercase; 
    color: var(--aqua); 
    letter-spacing: 2px;
}
.contacts .contacts_info .info h3
{
    font-size: 17px
}
.about .about_info,
.skills .skills_info,
.projects .projects_info,
.contacts .contacts_info
{
    width: 980px; 
    height: 330px; 
    margin-left: auto; 
    margin-right: auto;
}
.projects .projects_info
{
    height: auto;
}
.contacts .contacts_info .info .contacts_box
{
    display: flex;
    gap: 20px;
}
.hero .hero_info .info,
.about .about_info .info,
.skills .skills_info .info,
.projects .projects_info .info
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.about .about_info .info
{
    padding: 0;
}
.skills .skills_info .info .skills_box
{
    display: flex; 
    justify-content: 
    space-between; 
    margin-bottom: 25px;
}
.skills .skills_info .info .skills_box_last
{
    display: flex;
    gap: 30px;
}
.box_projects 
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    width: 552px;
    height: 600px;
    background-color: var(--colorBox);
    border-radius: 20px;
    box-shadow: 0 0 15px var(--black);
    padding: 20px;
    overflow: hidden;
}
.box_projects img
{
    object-fit: cover;
    border-radius: 10px;
}
.box_projects_info
{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.about .about_info .info p
{
    color: var(--text);
    font-size: 20px;
}
.hero .avatar,
.about .avatar
{
    display: flex;
    align-items: center;
}
.hero .avatar img,
.about .avatar img
{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
}
.about .avatar img
{
    width: 280px;
    height: 280px;
}
.skills .skills_info .info img
{
    width: 80px;
    height: 80px;
}
/* Начальное состояние (до скролла) */
.about .info.animate-left,
.about .avatar.animate-right {
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.8s ease;
}

.about .avatar.animate-right {
  transform: translateX(60px);
}

/* После появления */
.about .info.animate-left.show,
.about .avatar.animate-right.show {
  opacity: 1;
  transform: translateX(0);
}
.modal 
{
  display: none;
  position: fixed;
  z-index: 20000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}
.modal-content 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--colorBox);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 0 20px var(--black);
    position: relative;
    animation: fadeIn 0.5s ease;
}
.modal .close 
{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--text);
    cursor: pointer;
}
.modal .close img
{
    width: 35px;
    height: 35px;
    opacity: 0.7;
    transition: 0.5s;
}
.modal .close img:hover
{
    opacity: 1;
}
.modal .close img:active
{
    transform: scale(0.98);
}
.modal .modal-left
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.modal .modal-right
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    background-color: var(--darkAqua);
    border-radius: 20px;
}
.modal .modal-right img
{
    width: 300px;
}

@keyframes fadeIn 
{
    from {opacity: 0; transform: translateY(50px);}
    to {opacity: 1; transform: translateY(0);}
}
.carousel-container 
{
  position: relative;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}
.carousel-container.show 
{
  opacity: 1;
  transform: translateY(0);
}
.carousel-track 
{
  display: flex;
  gap: 30px;
  transition: transform 0.5s ease;
  padding: 10px 0 10px 10px;
}
.porjects-header
{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.carousel-btn-block
{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}
.carousel-btn 
{
  position: absolute;
  top: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
  padding: 5px 15px;
  border-radius: 50%;
  transition: background 0.3s;
}
.carousel-btn.prev 
{
  right: 65px;
}
.carousel-btn.next 
{
  right: 0;
}
.carousel-btn.prev img,
.carousel-btn.next img
{
    width: 40px;
    height: 40px;
    transition: 0.5s;
}
.carousel-btn.prev img:hover,
.carousel-btn.next img:hover
{
    filter: drop-shadow(0px 0px 10px var(--text));
}
@media (max-width: 767px)
{
    .hero,
    .about,
    .skills,
    .projects,
    .contacts
    {
        height: auto;
    }
    .box_hero,
    .about .about_info,
    .skills .skills_info,
    .projects .projects_info,
    .contacts .contacts_info
    {
        scale: 0.8;
        width: auto;
        height: auto;
    }
    .box_hero
    {
        padding: 10px;
    }
    .hero .hero_info .info
    {
        gap: 20px;
    }
    .hero .hero_info h1
    {
        font-size: 30px;
    }
    .hero .hero_info h2
    {
        font-size: 20px;
    }
    .hero .hero_info .btn
    {
        font-size: 13px;
    }
    .hero .avatar img
    {
        width: 130px;
        height: 130px;
    }
    .about
    {
        margin-top: 50px;
    }
    .about .about_info .info
    {
        padding: 0 30px 0 0;
    }
    .about .about_info .info p
    {
        font-size: 15px;
    }
    .about .avatar img
    {
        width: 110px;
        height: 110px;
    }
    .skills .skills_info .info .skills_box
    {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .skills .skills_info .info .skills_box_last
    {
        flex-wrap: wrap;
        justify-content: flex-start; 
        margin-bottom: 25px;
        gap: 20px;
    }
    .box_projects
    {
        width: auto;
        height: auto;
        gap: 20px;
    }
    .box_projects img
    {
        width: 300px;
        height: 300px;
    }
    .box_projects_info
    {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }
    .contacts .contacts_info
    {
        margin-bottom: 60px;
    }
    .contacts .contacts_info .info .contacts_box
    {
        flex-direction: column;
    }
    .modal .modal-left
    {
        gap: 20px;
    }
    .modal .modal-right
    {
        display: none;
    }
    .modal .modal-right img
    {
        display: none;
    }
}