.animate-down 
{
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.8s ease;
}

.animate-down.show 
{
  opacity: 1;
  transform: translateY(0);
}
nav
{
    position: fixed;
    top: 0;
    width: 100%;
    font-family: sans-serif;
    z-index: 1000;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}
nav.menu-visible 
{
  transform: translateY(0);
  opacity: 1;
}
nav.hide-menu 
{
  transform: translateY(-125%);
  opacity: 0;
}
nav .menu_box
{
    background-color: var(--colorBox);
    height: 80px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 15px 15px 0 var(--black);
}
label.logo
{
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label.logo img
{
    width: 80px;
}
nav ul
{
    display: flex;
    float: right;
    margin-right: 20px
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li #btn-en button,
nav ul li #btn-ru button
{
    background: transparent;
    outline: none;
    border: 0;
    height: 32px;
    width: 32px;
}
nav ul li button img
{
    width: 32px;
    height: 32px;
}
nav ul li a
{
    color: var(--text);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.5s;
}
nav a.active,nav a:hover
{
    opacity: 1;
    text-shadow: 0 0px 30px var(--text);
}
.menu_list
{
    display: inline-block;
}
.list
{
    display: none;
    background-color: #333;
    border-radius: 15px;
    width: 180px;
    height: auto;
    padding: 10px;
    align-items: flex-start;
}
.checkbtn
{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}
.language
{
    display: flex;
    height: 100%;
    align-items: center;
}
.language_box
{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
    background-color: var(--aqua);
}
.language_box .active
{
    padding: 3px 5px;
    border-radius: 5px;
    background-color: var(--darkcolorBox);
    transition: 0.5s;
}
.language_box .show
{
    padding: 3px 5px;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.5s;
}
.language_box .show:hover
{
    background-color: var(--darkcolorBox);
}