:root
{
    --black: #000;
    --text: #fff;
    --text-color: #fff;
    --text-opacity: rgba(255, 255, 255, 0.62);
    --background: #0c1118;
    --aqua: #00aac9;
    --darkAqua: #00859d;
    --colorBox: #131b22;
    --darkcolorBox: #00859d;
    --red: #db0000;
}
.light-theme {
    --black: #000;
    --text: #0c1118;
    --background: #f1f6fa;
    --text-color: #000;
    --text-opacity: rgba(0, 0, 0, 0.62);
    --aqua: #00aac9;
    --darkAqua: #00859d;
    --colorBox: #d3d9de;
    --darkcolorBox: #00859d;
    --red: #db0000;
}
@font-face 
{
    font-family: "Euclid-Square";
    src: url(../font/Euclid-Square/Euclid-Square.ttf);
}
*
{
    font-family: 'Euclid-Square';
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    background-color: var(--background);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
::-webkit-scrollbar
{
    width: 7px;
}
::-webkit-scrollbar-thumb
{
    background: var(--aqua);
    border-radius: 5px;
}
.margin
{
    height: 150px;
}
.box,
.box_skills,
.box_contacts
{
    background-color: var(--colorBox);
    border-radius: 20px;
    padding: 10px;
    border: 0;
    outline: none;
    overflow: hidden;
    box-shadow: 0 15px 15px 0 var(--black);
}
.box_skills
{
    cursor: pointer;
}
.box_skills:hover
{
    background-color: var(--aqua);
}
.box_hero
{
    opacity: 0;
    background-color: var(--colorBox);
    border-radius: 20px;
    transform: translateY(50px);
    overflow: hidden;
    box-shadow: 0 15px 15px 0 var(--black);
    transition: all 0.8s ease;
}
.box_skills
{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}
.box_contacts
{
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.6s ease;
    transition-delay: var(--delay, 0s);
}
.box_hero.show,
.box_skills.show,
.box_contacts.show
{
    opacity: 1;
    transform: translateY(0);
}
.fade-text 
{
  opacity: 0;
  transition: opacity 2s ease;
}
.fade-text.show 
{
  opacity: 1;
}
.box img
{
    object-fit: cover;
}
.btn
{
    padding: 10px 20px;
    background-color: var(--aqua);
    border-radius: 10px;
    color: #fff;
    outline: none;
    border: 0;
    transition: 0.5s;
}
.btn:hover
{
    background-color: var(--darkcolorBox);
}
.btn:active
{
    transform: scale(0.98);
}